<section id="about" class="container-fluid py-5 text-edit about-img">
    <div class="container-fluid col-10 text-warning">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div>
                    <h1>aBOUT US</h1>
                    <p class="w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed vitae. Aut
                        eos
                        fugit excepturi distinctio assumenda ab delectus itaque, earum, deleniti doloribus hic soluta
                        debitis, blanditiis enim ea repellat!</p>
                    <button type="button" class="btn btn-outline-danger btn-lg">Learn More</button>
                </div>
            </div>
            <div class="col-lg-6 alot-pic">
                <img src="https://images.pexels.com/photos/271715/pexels-photo-271715.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="pic-1" alt="">
                <img src="https://images.pexels.com/photos/1683545/pexels-photo-1683545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="pic-2" alt="">
                <img src="https://images.pexels.com/photos/1148084/pexels-photo-1148084.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="pic-3" alt="">
                <img src="https://images.pexels.com/photos/3147493/pexels-photo-3147493.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="pic-4" alt="">
                <img src="https://images.pexels.com/photos/3535392/pexels-photo-3535392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="pic-5" alt="">
            </div>
        </div>
    </div>
</section>