<section id="banner" class="container-fluid p-0">
    <div>
        <div class="container-fluid banner d-flex flex-column justify-content-center">
            <div class="">
                <div class="text-warning d-flex w-50 justify-content-around mx-auto">
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="w-50 text-center mx-auto title-text">
                    <h1 class="py-3 text-warning"> Sushi Monster</h1>
                </div>
                <div class="text-warning d-flex w-50 justify-content-around mx-auto">
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="my-3 text-center">
                    <button type="button" class="btn btn-outline-warning btn-lg text-edit">Order Now</button>
                </div>
                <div class="my-5 text-center button-cont text-edit">
                    <button type="button" class="btn btn-outline-warning button"><i
                            class="fas fa-arrow-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>