<section id="items" class="container-fluid py-4">
    <div class="row col-11 mx-auto py-4">
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/357756/pexels-photo-357756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/3763799/pexels-photo-3763799.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""><button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/668141/pexels-photo-668141.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            <button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
    </div>
    <div class="row col-11 mx-auto py-4">
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/4071397/pexels-photo-4071397.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""><button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/4071381/pexels-photo-4071381.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""><button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
        <div class="col-lg-4 py-2 img-content">
            <img class="w-100 border-set"
                src="https://images.pexels.com/photos/1011884/pexels-photo-1011884.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""><button type="button" class="btn btn-outline-warning button-edit btn-lg">Menu Item</button>
        </div>
    </div>
</section>