<section id="menu" class="container-fluid px-0 py-5 menu-back">
    <div class="container-fluid col-11 text-edit">
        <div class="row">
            <div class="col-lg-6">
                <h3>Soups</h3>
                <div class=" col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h3>$10</h3>
                    </div>
                </div>
                <div class="menu-line col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h4 class="bg-danger chef-sel">Chef Selection</h4>
                        <h3>$10</h3>
                    </div>
                </div>
                <h3>Sushi</h3>
                <div class=" col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h3>$10</h3>
                    </div>
                </div>
                <div class="menu-line col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h4 class="bg-danger chef-sel">Chef Selection</h4>
                        <h3>$10</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Soups</h3>
                <div class="menu-line col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h4 class="bg-danger chef-sel">Chef Selection</h4>
                        <h3>$10</h3>
                    </div>
                </div>
                <div class=" col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h3>$10</h3>
                    </div>
                </div>
                <h3>Sushi</h3>
                <div class="menu-line col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h4 class="bg-danger chef-sel">Chef Selection</h4>
                        <h3>$10</h3>
                    </div>
                </div>
                <div class=" col-11 my-3 mx-auto">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>Soup</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h3>$10</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>