<section id="nav" class="container-fluid">
    <nav class="navbar text-warning bg-dark">
        <div class="d-flex w-25 justify-content-around">
            <h3><i class="fab fa-facebook-square icon"></i></h3>
            <h3><i class="fab fa-instagram icon"></i></h3>
            <h3><i class="fab fa-twitter icon"></i></h3>
            <h3><i class="fab fa-reddit-alien icon"></i></h3>
        </div>
        <h3>8325 Lincoln Blvd Los Angelas Ca 90045</h3>
    </nav>
</section>