<section id="team" class="container-fluid py-5">
    <div class="container col-9">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img"
                        src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Team Member</h5>
                        <p class="card-text">Chef</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img"
                        src="https://images.pexels.com/photos/1137902/pexels-photo-1137902.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Team Member</h5>
                        <p class="card-text">Chef</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img"
                        src="https://images.pexels.com/photos/3413666/pexels-photo-3413666.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Team Member</h5>
                        <p class="card-text">Chef</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>