/* Start text-edit */

.text-edit {
  font-family: "Fondamento", cursive;
}

/* text-edit * */

/* Start icon */

.icon {
  transition: all 0.5s linear;
}

.icon:hover {
  cursor: pointer;
  color: white;
}

/* End icon */

/* Start title-text */

.title-text {
  font-family: "Modak", cursive;
}

/* End title-text */

/* Start banner */

.banner {
  height: 90vh;
  background: url("https://images.pexels.com/photos/3620705/pexels-photo-3620705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* End banner */

/* Start button-cont */

.button-cont {
  height: 60px;
  position: relative;
}

/* End button-cont */

/* Start button */

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: down 2s infinite;
  transition: all 0.5s linear;
}

@keyframes down {
  0% {
    top: 0%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 0%;
  }
}

/* End button */

/* Start nav2 */

.nav2 {
  position: fixed;
}

/* End nav2 */

/* Start items */

#items {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3763816/pexels-photo-3763816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End items */

/* Start border-set */

.border-set {
  transition: all 0.5s linear;
  height: 200px;
}

.border-set:hover {
  filter: brightness(50%);
  transform: scale(1.05);
  border-color: red;
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
}

.img-content:hover .button-edit {
  opacity: 1;
}

/* End border-set */

/* Start img-content */

.img-content {
  position: relative;
}

/* End img-content */

/* Start button-edit */

.button-edit {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  transition: all 0.5s linear;
  opacity: 0;
}

/* End button-edit */

/* Start menu-line */

.menu-line {
  border: 3px solid #dc3545;
}

/* End menu-line */

/* Start  chef-sel */

.chef-sel {
  height: 30px;
}

/* End  chef-sel */

/* Start menu-back */

.menu-back {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/3620705/pexels-photo-3620705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End menu-back */

/* Start about-img */

.about-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3763816/pexels-photo-3763816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End about-img */

/* Start alot-pic */

.alot-pic {
  position: relative;
  height: 500px;
}

/* End alot-pic */

/* Start pic-1 */

.pic-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 250px;
  border: 3px solid white;
  transition: all 0.5s linear;
}

.pic-1:hover {
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
  transform: rotate(20deg);
  z-index: 1;
  opacity: 1 !important;
}

.alot-pic:hover .pic-1:not(:hover) {
  opacity: 0.5;
}

/* End pic-1 */

/* Start pic-2 */

.pic-2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 200px;
  width: 250px;
  border: 3px solid white;
  transition: all 0.5s linear;
}

.pic-2:hover {
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
  transform: rotate(20deg);
  z-index: 1;
}

.alot-pic:hover .pic-2:not(:hover) {
  opacity: 0.5;
}

/* End pic-2 */

/* Start pic-3 */

.pic-3 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  height: 200px;
  width: 250px;
  border: 3px solid white;
  transition: all 0.5s linear;
}

.pic-3:hover {
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
  transform: rotate(20deg);
  z-index: 1;
}

.alot-pic:hover .pic-3:not(:hover) {
  opacity: 0.5;
}

/* End pic-3 */

/* Start pic-4 */

.pic-4 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 250px;
  border: 3px solid white;
  transition: all 0.5s linear;
}

.pic-4:hover {
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
  transform: rotate(20deg);
  z-index: 1;
}

.alot-pic:hover .pic-4:not(:hover) {
  opacity: 0.5;
}

/* End pic-4 */

/* Start pic-5 */

.pic-5 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 250px;
  border: 3px solid white;
  transition: all 0.5s linear;
}

.pic-5:hover {
  outline: 10px solid #ffc107;
  outline-offset: 0.3rem;
  transform: rotate(20deg);
  z-index: 1;
}

.alot-pic:hover .pic-5:not(:hover) {
  opacity: 0.5;
}

/* End pic-5 */

/* Start caro-shape */

.caro-shape {
  transform: skew(-10deg);
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

.caro-shape img {
  width: 200px;
}

/* End caro-shape */

/* Start review */

#review {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3763816/pexels-photo-3763816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End review */

/* Start caro-img */

.caro-img {
  width: 100px;
  height: 150px;
}

/* End caro-img */

/* Start card-img */

.card-img {
  height: 200px;
}

/* End card-img */

/* Start team */

#team {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3763816/pexels-photo-3763816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* End team */
